@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Quattrocento Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
